<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
</head>
<body>

<h1>Cadastro de Produtos</h1>

<form [formGroup]="formulario">
    <div class="form-group">
      <label for="codigo">Código:</label>
      <input type="text" id="codigo" formControlName="codigo" class="form-control">
      <div class="erro" *ngIf="formulario.controls['codigo'].invalid && formulario.controls['codigo'].touched" >
        Código é obrigatório.
      </div>
    </div>

    <div class="form-group">
        <label for="nome">Nome:</label>
        <input type="text" id="nome" formControlName="nome" class="form-control">
    </div>
    
  
    <div class="form-group">
      <label for="descricao">Descrição:</label>
      <input type="text" id="descricao" formControlName="descricao" class="form-control">
      <div class="erro" *ngIf="formulario.controls['descricao'].invalid && formulario.controls['descricao'].touched">
        Descrição deve possuir no mínimo 20 caracteres.
      </div>
    </div>
  
    <div class="form-group">
      <label for="valor">Valor:</label>
      <input type="number" id="valor" formControlName="valor" class="form-control">
    </div>
  
    <button type="submit" class="btnCadastrar" (click)="cadastrar()">Cadastrar</button>

    <div  *ngIf="isCadastrado" class="alertSucesso">
      Produto Cadastrado!
    </div>

    <div  *ngIf="isInvalido" class="alertFalha">
      Erro, Produto não Cadastrado!
    </div>

    <button routerLink="/lista" class="btnLista" >Minha Lista</button>
    </form> 

  

    
</body>
</html>
